// Подключение шрифта Archivo
@font-face {
  font-family: "Archivo";
  src: url("/font/Archivo-Regular.woff2") format("woff2"),
    url("/font/Archivo-Regular.woff") format("woff"),
    url("/font/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/font/Archivo-Medium.woff2") format("woff2"),
    url("/font/Archivo-Medium.woff") format("woff"),
    url("/font/Archivo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/font/Archivo-SemiBold.woff2") format("woff2"),
    url("/font/Archivo-SemiBold.woff") format("woff"),
    url("/font/Archivo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/font/Archivo-Bold.woff2") format("woff2"),
    url("/font/Archivo-Bold.woff") format("woff"),
    url("/font/Archivo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/font/Archivo-Italic.woff2") format("woff2"),
    url("/font/Archivo-Italic.woff") format("woff"),
    url("/font/Archivo-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/font/Archivo-MediumItalic.woff2") format("woff2"),
    url("/font/Archivo-MediumItalic.woff") format("woff"),
    url("/font/Archivo-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/font/Archivo-SemiBoldItalic.woff2") format("woff2"),
    url("/font/Archivo-SemiBoldItalic.woff") format("woff"),
    url("/font/Archivo-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Archivo";
  src: url("/font/Archivo-BoldItalic.woff2") format("woff2"),
    url("/font/Archivo-BoldItalic.woff") format("woff"),
    url("/font/Archivo-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
