// Импорт шрифтов
@use "./fonts.scss";

// Импорт миксинов
@use "./mixins.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Archivo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  line-height: 1.5;
  color: #222220;
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

.app {
  max-width: 1800px;
  margin: 0 auto;
  min-height: 100vh;
  background: $background-light;
}

.layout {
  width: 100%;
  min-height: 100vh;
}

.text-sm {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

/* CSS переменные для изображений */
:root {
  --hero-image-1: url("/images/4cut5.webp");
}
