@use "../../../app/styles/mixins.scss" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @include font-semibold;
  @include transition-all;
  cursor: pointer;
  border: none;
  @include shadow-sm;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:focus {
    @include focus-ring-offset;
  }
}

.hero {
  @include font-semibold;
  @include text-sm;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 24px;
  background-color: $color-primary;
  color: $white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    background-color: #807556;
    transform: translateY(-2px);
  }
}

.light {
  @include font-semibold;
  @include text-sm;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 24px;
  background-color: $background-light;
  color: $color-primary;
  border: 1px solid $color-primary;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;

  &:hover:not(:disabled) {
    transform: translateY(-2px);
  }
}
