.privacyPage {
  display: flex;
  flex-direction: column;

  padding: 40px 70px;
  position: relative;

  .gridLines {
    position: absolute;
    height: 100%;
    inset: 0;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr;
    z-index: 1;
    pointer-events: none;
  }

  .vline {
    width: 0;
    border-left: 1px solid rgba(138, 138, 138, 0.5);
    height: 100%;
  }
  .vlineNoBorder {
    grid-column: 1;
    grid-row: 1/3;
  }
}

@media screen and (max-width: 768px) {
  .privacyPage {
    padding: 30px 10px;

    .gridLines {
      display: none;
    }
  }
}
