@use "../../../app/styles/mixins.scss" as *;

.prices {
  position: relative;

  .gridLines {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr) 50px;
    grid-template-rows: 1fr;
    z-index: 1;
    pointer-events: none;
  }

  .vline {
    width: 0;
    border-left: 1px solid rgba(138, 138, 138, 0.5);
    height: 100%;
  }
}

.priceContent {
  position: relative;
  z-index: 2;
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .priceTitle {
    background-color: $background-light;
    text-align: left;
    box-sizing: border-box;
    height: max-content;

    .priceSubtitle {
      @include font-medium;
      @include text-sm;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 20px;
      position: relative;
      margin-top: 20px;

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: $color-primary;
      }
    }

    h2 {
      @include font-bold;
      @include text-3xl;
      color: $color-secondary;

      line-height: 1.2;
    }
  }
}

.pricesCards {
  display: flex;
  margin: 0 auto;
  padding: 50px 0;
}

.priceCard {
  position: relative;
  padding: 20px 0 0;
  width: 250px;
  background: $color-secondary;
  color: #f9f9f9;
  float: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
  }

  .deal {
    color: $color-primary;
    @include font-regular;
    @include text-sm;
    display: inline-block;
    min-height: 48px;
  }

  h3 {
    @include text-xl;
    margin: 0;
  }

  .amount {
    display: block;
    width: 250px;
    background: $color-primary;
    text-align: center;
    @include text-3xl;
    color: $color-secondary;
    padding: 10px 0;
    margin: 20px 0;

    span {
      padding: 0;
      color: $color-secondary;
      margin: 0 5px 0 0;
      font-size: 16px;
    }
  }

  .features {
    padding: 0 20px;
    margin-bottom: 82px;
    text-align: left;
  }

  .buttonContainer {
    position: absolute;
    bottom: 20px;
  }
}

@include tablet {
  .prices {
    .gridLines {
      grid-template-columns: repeat(2, 1fr) 50px;
    }
  }
}

@media screen and (max-width: 800px) {
  .pricesCards {
    flex-direction: column;
    align-items: center;
  }

  .priceCard {
    width: 100%;
    padding: 15px 50px;
    justify-content: start;
    align-items: flex-start;
  }
}

@include mobile {
  .prices {
    .gridLines {
      display: none;
    }
  }
}
