@use "../../../app/styles/mixins.scss" as *;

.geography {
  position: relative;
  overflow: hidden; // чтобы картинка не вылазила

  .geographyImgWrapper {
    position: absolute;
    inset: 0; // вместо top/left/width/height
    z-index: 1; // ниже текста
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(255, 255, 255, 0.66);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain; // заполняет весь блок
    }
  }

  .gridLines {
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr) 50px;
    grid-template-rows: 160px repeat(3, 1fr) 100px;
    position: relative;
  }
  .vline {
    width: 0;
    border-left: 1px solid rgba(138, 138, 138, 0.5);
    height: 100%;
    z-index: 5;
  }
}

.geographyTextBlock {
  grid-column: 3/4;
  grid-row: 2/4;
  margin-left: -80%;
  z-index: 3;
}

.geographyContent {
  padding: 40px 40px;
  border: 2px solid #998861;
  background: transparent;
  z-index: 3;

  p {
    @include font-medium;
    @include text-sm;

    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $color-primary;
    }
  }

  h2 {
    @include font-bold;
    @include text-3xl;
    color: $color-secondary;
    margin: 0;
    line-height: 1.2;
  }
}

.geographyVariant {
  z-index: 3;
  border-left: 1px solid rgba(138, 138, 138, 0.5);

  p {
    @include text-xl;
    margin: 0;
    padding: 30px 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 20px;
      width: 90px;
      height: 2px;
      background-color: $color-primary;
    }
  }
}
.geographyVariant0 {
  grid-column: 4;
  grid-row: 2;
}
.geographyVariant1 {
  grid-column: 5;
  grid-row: 2;
}
.geographyVariant2 {
  grid-column: 4;
  grid-row: 3;
}
.geographyVariant3 {
  grid-column: 5;
  grid-row: 3;
}
.geographyVariant4 {
  grid-column: 4;
  grid-row: 4;
}
.geographyVariant5 {
  grid-column: 5;
  grid-row: 4;
}
