@use "../../../app/styles/mixins.scss" as *;

.tariffs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tariffsHeading {
  padding: 0 45px;

  @include mobile {
    padding: 0 15px;
  }

  .tariffsHeadingText {
    @include font-medium;
    @include text-sm;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $color-primary;
    }
  }
  h2 {
    @include font-bold;
    @include text-3xl;
    color: $color-secondary;
    margin: 0 0 20px 0;
    line-height: 1.2;
  }

  p {
    @include font-regular;
    @include text-base;
    color: $color-secondary;
    margin: 0;
    line-height: 1.6;
  }
}

.card {
  z-index: 2;
  background-color: $background-light;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  overflow-x: auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  }
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: $color-secondary;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;

  th,
  td {
    border: 1px solid rgba(138, 138, 138, 0.5);
    padding: 0.75rem 1rem;
    text-align: center;
  }

  th {
    background: #eae5db;
    font-weight: 600;
    color: $color-secondary;
  }

  tr:nth-child(even) td {
    background: #eae5db;
  }
}

/* Закрепление первого столбца */
.table thead th {
  position: sticky;
  top: 0;
  background: #eae5db;
  z-index: 2; /* ниже первого столбца */
}

/* Фиксируем первый столбец */
.table .sticky-col {
  position: sticky;
  left: 0;
  background: #eae5db;
  z-index: 3; /* выше шапки */
}

.priceRow {
  background: $color-primary !important;
  font-weight: 700;
  color: #ffffff;

  td {
    background: $color-primary !important;
  }
}

// Адаптив для мобильных
@include mobile {
  .tariffs {
    padding: 0;

    .gridLines {
      display: none;
    }
  }

  .card {
    padding: 20px 0;
  }

  .title {
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    z-index: 5;
  }

  .table {
    // font-size: 0.85rem;
    min-width: 0;
    th,
    td {
      padding: 0.5rem;
    }
  }
  .priceRow {
    font-size: 0.7rem;
  }
}
