@use "../../../app/styles/mixins.scss" as *;

.heroSection {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* Основная сетка прямоугольников - блочная структура */
.heroRectangles {
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr) 50px;
  grid-template-rows: repeat(2, 1fr);
  flex: 1;
  grid-auto-columns: 1fr;
  border-top: 1px solid rgba(138, 138, 138, 0.5);
  border-bottom: 1px solid rgba(138, 138, 138, 0.5);
}

.heroRectangles::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.208);
  z-index: 1;
}
.bottomLeftSection {
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* верхний средне-левый (коричневый блок) */
.middleLeftSection {
  grid-column: 3;
  grid-row: 1;
  background-color: $color-primary;
  aspect-ratio: 1;
}

/* нижний правый */
.bottomRightSection {
  grid-column: 5;
  grid-row: 2;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* центральное большое изображение */
.middleSection {
  grid-column: 4;
  grid-row: 1 / 3;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.topLeftSection {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
  position: relative;
  border-left: 1px solid rgba(138, 138, 138, 0.5);
}

/* Социальные иконки справа */
.socialSection {
  grid-column: 6;
  grid-row: 1 / 3;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(138, 138, 138, 0.5);
  z-index: 1;
}

/* Центральный контент */
.heroContent {
  position: absolute;
  left: 48%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  z-index: 10;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.heroTitle {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: clamp(44px, 8vw, 60px);
  line-height: 1.088;
  text-align: center;
  color: $color-secondary;
  margin: 0;
  white-space: nowrap;
}

.heroButton {
  @include font-semibold;
  @include text-sm;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 24px;
  background-color: $color-primary;
  color: $white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #807556;
    transform: translateY(-2px);
  }

  svg {
    color: #ffffff;
  }
}

/* Адаптивность для планшетов */
@include tablet {
  .heroRectangles {
    grid-template-columns: repeat(4, 1fr) 50px;
  }
  .bottomLeftSection {
    grid-column: 1;
  }
  .middleLeftSection {
    grid-column: 2;
  }
  .bottomRightSection {
    grid-column: 4;
  }
  .middleSection {
    grid-column: 3;
  }
  .socialSection {
    grid-column: 5;
  }

  .heroContent {
    gap: 20px;
  }
  .leftSection {
    display: nne;
  }

  .heroTitle {
    font-size: clamp(36px, 6vw, 55px);
  }
}

/* Адаптивность для мобильных устройств */
@include mobile {
  .heroRectangles {
    display: none;
  }

  .heroSection {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .heroContent {
    top: 200px;
    position: relative;
    z-index: 1;
    width: 100%;

    padding: 120px 20px;
    text-align: center;
  }

  /* Фон внутри контента */
  .heroBg {
    position: absolute;
    width: 100vw;
    top: 0;
    // left: 0;
    // right: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transform: translateY(0);
  }

  .heroBg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* затемнение */
    z-index: 0;
  }

  .heroTitle {
    font-size: clamp(32px, 8vw, 48px);
    white-space: normal;
    line-height: 1.2;
    color: #f9f9f9;
    z-index: 1;
  }
  .heroButton {
    z-index: 1;
  }
  .socialSection {
    display: none;
  }
  .middleLeftSection,
  .bottomRightSection,
  .middleSection {
    display: none;
  }
}

/* Адаптивность для очень маленьких экранов */
@media (max-width: 480px) {
  .heroTitle {
    font-size: clamp(28px, 6vw, 36px);
  }

  .heroButton {
    padding: 12px 20px 12px 24px;
    font-size: 14px;
  }
}
