@use "../../../app/styles/mixins.scss" as *;
@use "./mixins.scss" as *;

.header {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  background: $background-light;
  backdrop-filter: blur(10px);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.logo {
  @include logo-style;
}

.nav {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0;
}

.navLink {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.088;
  transition: color 0.2s ease;
  @include text-primary;
  @include nav-link-style;

  &:hover {
    @include primary-color;
  }

  &.navLinkActive {
    @include primary-color;

    &::before,
    &::after {
      width: 100%;
    }
  }

  &::before {
    background: $color-secondary;
    width: 0;
  }

  &::after {
    background: $color-secondary;
    width: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
  }
}

.menuButton {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;

  span {
    width: 25px;
    height: 3px;
    background: #333;
    border-radius: 2px;
  }

  @include hamburger-animation;
}

@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    background: $background-light;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    justify-content: center;

    &.navOpen {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .navLink {
      font-weight: 500;
      font-size: 15px;
      line-height: 1.088;
    }
  }

  .navList {
    flex-direction: column;
    gap: 0;
    padding: 1rem 0;
  }

  .navItem {
    width: 100%;
  }

  .navLink {
    display: block;
    padding: 8px 0;
    margin-top: 8px;
  }

  .menuButton {
    display: flex;
  }
}
