@use "../../../app/styles/mixins.scss" as *;

.feedback {
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr) 50px;
  grid-template-rows: auto;
  position: relative;
  background-color: $background-light;

  .gridLines {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr) 50px;
    grid-template-rows: 1fr;
    z-index: 1;
    pointer-events: none;
  }

  .vline {
    width: 0;
    border-left: 1px solid rgba(138, 138, 138, 0.5);
    height: 100%;
  }
  .vlineNoBorder {
    grid-column: 1;
    grid-row: 1/3;
  }
  .container {
    grid-column: 2/6;
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }

  .title {
    @include font-medium;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 40px;
    @include secondary-color;
    background-color: $background-light;
    width: fit-content;
  }

  .form {
    width: 100%;
    max-width: 800px;

    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto auto;

    input,
    select,
    textarea {
      border: none;
      border-bottom: 1px solid $text-light;
      padding: 10px 14px;
      @include font-regular;
      @include text-sm;
      @include focus-ring-offset;
      background-color: transparent;
    }

    .inputMessage {
      grid-column: 1/3;
      grid-row: 4;
      resize: vertical;
      min-height: 38px;
    }

    input:focus,
    select:focus,
    textarea:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.checkboxWrapper {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}
.feedbackButton {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  @include mobile {
    justify-content: center;
  }
}

@include tablet {
  .feedback {
    .gridLines {
      grid-template-columns: 1fr 50px;
    }
  }
}

@include mobile {
  .feedback {
    display: flex;
    flex-direction: column;
    padding: 0 45px;
    .gridLines {
      display: none;
    }
    .container {
      border: none;
      text-align: center;
      padding-top: 0;
    }
    .content {
      padding: 0;
    }
    .form {
      display: flex;
      flex-direction: column;
    }
  }
}

@include mobile-small {
  .feedback {
    padding: 0 15px;
  }
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
  position: relative;
  font-size: 15px;
  line-height: 1;
}

/* Прячем настоящий input */
.checkboxInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Сам квадрат чекбокса */
.customCheckbox {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: 1px solid $color-secondary;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
  cursor: pointer;
}

/* Галочка, когда чекбокс активен */
.checkboxInput:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  width: 4px;
  height: 9px;
  border: solid $color-primary;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Наведение */
.checkboxLabel:hover .customCheckbox {
  border-color: $color-primary;
}

/* Сообщение об ошибке */
.errorMessage {
  color: #ff4444;
  font-size: 15px;
  line-height: 1;
  text-align: center;
}

.privacyLink {
  text-decoration: none;
  color: $color-primary;
  transition: color 0.2s ease;

  // &:hover {
  //   color: $color-primary;
  // }
}
