@use "../../../app/styles/mixins.scss" as *;

.feedback {
  display: grid;
  grid-template-columns: 50px repeat(4, 1fr) 50px;
  grid-template-rows: auto;
  position: relative;
  background-color: $background-light;

  > .gridLines {
    display: contents;
  }
  .col {
    border-left: 1px solid rgba(138, 138, 138, 0.5);
  }
  .container {
    grid-column: 2/6;
    z-index: 4;
    position: relative;
    border-left: 1px solid rgba(138, 138, 138, 0.5);
  }

  .content {
    padding: 160px 0;
  }

  .title {
    @include font-medium;

    font-size: 40px;
    line-height: 120%;
    margin-bottom: 40px;
    text-align: center;
    @include text-primary;
  }

  .form {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto; // Изменено с repeat(4, 1fr) на auto

    input,
    select,
    textarea {
      border: none;
      border-bottom: 1px solid $text-light;
      padding: 10px 14px;
      @include font-regular;
      @include text-sm;
      @include focus-ring-offset;
      background-color: $background-light;
    }

    .inputMessage {
      grid-column: 1/3;
      grid-row: 4;
      resize: vertical; // Позволяет изменять высоту только по вертикали
      min-height: 38px; // Минимальная высота для textarea
    }

    input:focus,
    select:focus,
    textarea:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.feedbackButton {
  grid-column: 1/3;
  display: flex;
  justify-content: end;
}
